.b-menu__item
{
	display: inline-block;
	margin: 3px;
	width: 240px;
	background-color: #00a4e0;
	list-style: none;
	vertical-align: middle;
}

.b-menu__item:hover
{
	background-color: #00b5e0;
}

.b-menu__item .b-link
{
	text-decoration: none;
	display: block;
	width: 100%;
	line-height: 3em;
	color: #fff;
}